*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

body{
    background-image: radial-gradient(circle, rgba(59, 177, 255, 0.562) 20%, black 80%);
    box-sizing: border-box;
}
 .login{
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 20px 8px rgba(48, 75, 91, 0.815);
}
.form{
    padding: 1rem;
}

.form  .img-div{
    width: 120px;
    height: 120px;
    background-image:url();
    background-position: center;
    background-size: 100%;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.img-div img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.img-div:hover{
    opacity: 0.5;
    filter: blur(2px);
    
}

.form input{
    position: relative;
    padding: 5px;
    margin:5px;
    border-style: hidden;
    background-color: transparent;
    font-size: 1.5em;
    border-bottom: 1px solid black;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.form .btn-div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form button{
    margin: 1rem;
    padding: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5em;
    border-radius: 10px;
    border-color: rgba(48, 75, 91, 0.815);
    background-color: rgba(48, 75, 91, 0.815);
    box-shadow: 5px 10px 8px rgba(48, 75, 91, 0.815);
}

.form button:hover{
    background-color: rgba(132, 207, 252, 0.562);
    border: 1px solid black;
}

.form button:active{
    outline: none;
    background-color: rgba(48, 75, 91, 0.815);
}

.temsService{
    text-align: center;
    padding-bottom: 1rem;
}

.temsService p, span{
    color: rgba(13, 30, 39, 0.815);
    font-size: medium !important;
    font-weight: 200 !important;
}
.temsService a{
    text-decoration: none;
    color: rgba(13, 30, 39, 0.815);
    font-weight: bolder;
    font-size: x-large;
}

@media only screen and (max-width: 576px) { 
    .form input{
        width: 14rem !important;
    }
    .temsService a{
        font-size: larger;
    }
}


